.icon-legend-flex-wrapper {
  display: flex;
  padding: 0 1rem;
}

.flex-column {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.icon-name {
  font-size: 0.8em;
  font-weight: 800;
  color: rgb(0.9, 0.9, 0.9);
}

.border-right {
  border-right: 1px solid black;
}
