*:focus {
  outline: none;
}

.nav {
  height: 50px;
  padding: 5px;

  background-color: #eb0000;
}

.nav .links {
  display: inline-block;
  padding: 10px;
}

.nav .links .link {
  color: white;
  font-size: 20px;

  margin-right: 20px;
}

.title {
  font-size: 20px;
  color: whitesmoke;
  margin-left: 50px;
}

.nav img {
  float: right;
  height: 40px;
}

.unwheels {
  font-size: 0.6em;
  color: black;
}
