.Wrapper {
  margin: 5px 0;
}

.ParentContainer {
  display: flex;
  padding: 5px;
}

.ResultItemContainer {
  background: #f6f6f6;
}

.Column {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.LastColumn {
  display: flex;
  flex-direction: column;
}

.LastColumn>.Row {
  display: flex;
  /* border: 1px solid blue; */
  flex-grow: 1;
  align-items: baseline;
}

.ColumnOneThird {
  display: flex;
  /* border: 1px solid yellow; */
}

.ColumnOneFifth {
  display: flex;
  /* border: 1px solid yellow; */
  width: 20%;
  justify-content: center;
  align-items: center;
}

.CategoryColumn {
  display: flex;
  flex-direction: column;
  /* border: 1px solid orange; */
  justify-content: center;
  flex-grow: 1;
}

.W10 {
  width: 10%;
}

.W20 {
  width: 20%;
}

.W25 {
  width: 25%;
}

.W30 {
  width: 30%;
}

.W33 {
  width: 33%;
}

.W40 {
  width: 40%;
}

.W50 {
  width: 50%;
}

.W60 {
  width: 60%;
}

.W100 {
  width: 100%;
}

.LeftAlign {
  justify-content: left !important;
}

.Padded {
  padding: 5px 0;
}

.ActivityColumn {
  display: flex;
  /* border: 1px solid orange; */
  justify-content: left;
  align-items: center;
}

.ActivityIcon {
  margin: 0 3px;
}

.Row {
  display: flex;
  /* border: 1px solid blue; */
  justify-content: center;
  align-items: center;
}

.fixedHeight {
  height: 20px;
}

.CenteredText {
  text-align: center;
}

.Price {
  font-weight: 800;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.DiscountWrapper {
  position: relative;
  width: 100%;
}

.Discount {
  width: 0;
  height: 0;
  border-top: 60px solid #eb0000;
  border-left: 60px solid transparent;
  float: right;
}

.DiscountValue {
  float: right;
  color: white;
  font-weight: 800;
  position: absolute;
  right: 5px;
  top: 5px;
}

.emissions {
  display: flex;
  flex-direction: row;
  align-content: center;
  color: gray;
  font-size: 0.8rem;
}

.emissions .item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emissions .item .text {
  margin-left: 0.25rem;
}